{% extends "base.html" %}

{% block title %} Create Blog {% endblock %}

{% block content %}
    <h1>Create New Blog</h1>
    <p>Enter your blow below!</p>
    <form action="/{{ bp }}/create_blog" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content"></textarea><br><br>
        <input type="submit" value="Submit">
    </form> 
{% endblock %}